[package]
name = "sandl_derive"
description = "Provided proc-macros for sandl"
license = "MIT OR Apache-2.0"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0"